.mat-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-field {
  width: 100%
}
.form-field:first-of-type {
  margin-top: 10px;
}

.checkbox {
  margin: 10px;
}

.button-group {
  display: flex;
  gap: 1rem;
}

.mat-error {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}
