<div class="app-container" *ngFor="let Person of PersonList">
  <h3>{{Person?.name}}</h3>
  <p>Age: {{Person?.age}}</p>
  <p>Favourite food: {{Person?.faveFood | titlecase}}</p>
  <p>{{Person| hairColour}}</p>
  <p>Team Lead?: {{Person?.isTeamLead | uppercase}}</p>
  <p>Today's sales: {{Person?.sales | currency: 'CAD': "symbol-narrow"}}</p>
  <img src="{{Person?.img}}" alt = "{{Person?.name}}" height="200" width="300">
  <button type="button" (click)="onEdit()">Edit</button>
  <button type="button" (click)="onDelete(Person?.id)">Delete</button>
</div>


