<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <h2>Employee List</h2>
    <!--loop through all people in the array. directive #1--->
  <div *ngFor="let person of personArray" class="user-card">
    <h3>{{ person.name }}</h3>
    <p>Age: {{ person.age }}</p>
    <p>Favourite food: {{person.faveFood }}</p>
    <!--special message for people who have their favourite food set as 'pizza'. Directive #2-->
    <p *ngIf="person.faveFood.toLowerCase() == 'pizza'" class="pizzaMessage">
      Pizza Time
    </p>
    <p>Hair Colour: {{person.hairColour }}</p>
    <!--Awesome toggle button-->
    <p>Team Lead: {{ person.isTeamLead ? 'Yes' : 'No' }}</p>
    <button (click)="toggleLeadStatus(person)" class="toggle-button">
      Toggle Team Lead
    </button>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
